.rules {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 125px 24px 50px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    background-image: url("/img/strategy_background.jfif");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}